body{
	position:fixed;
	width:100%;
	height:100%;
	background:var(--bg);
}

header{
	position:relative;
	height:80px;
	display:flex;
	justify-content:center;
	align-items:center;
	z-index:1;
	h1{
		line-height:1;
	}
}


#game{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	padding:80px 5%;
	display:flex;
	justify-content:center;
	align-items:center;

}